.card {
  width: 300px;
}
.productos {
  display: grid;
  margin: 25px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
.card {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card-title {
  color: var(--primer-color);
}
.card-text {
  color: var(--primer-color);
}
main {
  position: relative;
  min-height: 100vh;
  margin-top: 22px;
}
main h2 {
  font-size: 2em;
  margin-left: 25px;
}
.tituloArriba{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tituloArriba button{
  margin-right: 25px;
}
main button{
  background: transparent;
  border: 1px solid rgba(128, 128, 128, 0.479);
  border-radius: 5px;
  padding: 5px;
}


#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 25px;
}